!!!
%html
  %head
    %titletitle
    %meta{:'http-equiv' => "Content-Type", :content => "text/html;charset=utf-8"}
    %link{:href => "stylesheet/application.css", :rel => "stylesheet", :type => "text/css"}
    %body
      %div#container
        %div#header
        %div#main FOO
        %div#submenu
        %div#footer
